<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.PowerShell.Commands.Diagnostics" version="7.3.4" targetFramework="net48" />
  <package id="Microsoft.PowerShell.Commands.Management" version="7.3.4" targetFramework="net48" />
  <package id="Microsoft.PowerShell.Commands.Utility" version="7.3.4" targetFramework="net48" />
  <package id="Microsoft.PowerShell.ConsoleHost" version="7.3.4" targetFramework="net48" />
  <package id="Microsoft.WSMan.Management" version="7.3.4" targetFramework="net48" />
  <package id="PowerShellStandard.Library" version="5.1.1" targetFramework="net48" />
  <package id="Syncfusion.Core.WinForms" version="21.2.6" targetFramework="net48" />
  <package id="Syncfusion.Licensing" version="21.2.6" targetFramework="net48" />
  <package id="Syncfusion.Shared.Base" version="21.2.6" targetFramework="net48" />
  <package id="System.Management.Automation" version="7.3.4" targetFramework="net48" />
</packages>